<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" media="all" href="/static/css/style.css" th:href="@{/static/css/style.css}"/>
   
 <script type="text/javascript" src="/static/js/test.js" th:src="@{/static/js/test.js}"></script>
        <script>
        testFunction();
        </script>
    
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	

</head>
<body>
<p th:text="${name}">name</p>
<p th:text="'Hello！ ' + ${name} + '!'">hello world</p>
<script th:inline="javascript">
    var user = [[${name}]]
    alert(user);
</script>
<p th:text="|Hello！ ${name}!|" th:class="even">hello world</p>
</body>
</html>